{% extends 'markdown/index.md.j2' %}


{% block input %}
{% if 'hide-cell' not in cell.metadata.get('tags', []) %}
{% if 'hide-input' in cell.metadata.get('tags', []) %}
<details>
<summary>show / hide</summary>
{% endif %}
```
{% if 'magics_language' in cell.metadata  -%}
    {{ cell.metadata.magics_language}}
{% elif 'name' in nb.metadata.get('language_info', {}) -%}
    {{ nb.metadata.language_info.name }}
{% endif %}
{{ cell.source}}
```
{% if 'hide-input' in cell.metadata.get('tags', []) %}
</details>
{%- endif %}
{% endif %}
{% endblock input %}